{% extends 'base.html' %}
{% load static %}

{% block title %}Certificate{% endblock title %}

{% block content %}

<div class="bg-white w-screen h-screen p-5 text-center border-8 border-solid border-[#5e609f] ml-1/5 outer-border mt-5">
    <div class="bg-white w-full h-full p-5 text-center border-4 border-dotted border-[#5e609f] inner-dotted-border">
           <span class="text-5xl font-bold text-[#5e609f] certification">Certificate of Participation</span>
           <br><br>
           <span class="text-2xl certify"><i>This is to certify that</i></span>
           <br><br>
           <span class="text-3xl text-green-500 name"><b>{{ certificate.0 }}</b></span><br/><br/>
           <span class="text-2xl certify"><i>has successfully participated in</i></span> <br/><br/>
           <span class="text-3xl fs-30">{{ certificate.1 }}</span> <br/><br/>
           <!-- <span class="text-xl fs-20">with score of <b>A+</b></span>  -->
           <br/><br/><br/><br/>
           <span class="text-3xl certify"><i>dated</i></span><br>
          
          <span class="text-2xl fs-30">{{ certificate.2 }}</span>
          <div class="flex justify-between">
            <div class="text-center">
              <span class="text-xl certify"><i>Credential ID</i></span><br>          
              <span class="text-xl fs-30">{{ certificate.id }}</span>
            </div>
            <div class="text-xl certify">
              <button onclick="generatePDF()">Generate PDF</button>
            </div>
          </div>
    
    </div>
    </div>   

<script>
  const options = {  
    margin: 0.5,
    filename: 'certificate.pdf',    
    html2canvas: { 
      width: 1240,
    height: 1440,
    scale: 1
    },
    jsPDF: { 
      unit: 'in', 
      format: 'B4', 
      orientation: 'landscape',
      css_media_type: 'screen'
    }
  }
  function generatePDF(){
    const content = document.getElementById('content');
    html2pdf()
    .from(content)
    .set(options)
    .save();
  }
 
 
  </script>

{% endblock content %}