{% extends 'base.html' %}
{% load static %}

{% block title %}Issue Certificate{% endblock title %}

{% block content %}

<div class="bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
  <br>
<br>
<br>
<br>
<br>
<div class="flex justify-evenly">
<div class="bg-white px-6 py-8 rounded-3xl shadow-md text-black w-1/3 border-2 border-[#5e609f]">
  <div class="flex justify-center flex-row pb-5">
      <a href="{% url 'issue_certificate' %}" class="inline text-center font-bold text-3xl">
{% comment %} <img src="{% static 'images/logo.png' %}" class="inline" height="40px" width="40px">  {% endcomment %}
        Issue Certificate
  </a>
  </div>
  {% comment %} <h1 class="mt-6 mb-3 text-3xl font-bold text-center font-nunito">Choose your role</h1> {% endcomment %}
 
    <div>  
        <form method="POST">
            {% csrf_token %}
            <div>
                <!-- <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="fullname"
                placeholder="Full Name" /> -->

                <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="address"
                    placeholder="Address" />

                <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="name" placeholder="Name" />
                <!-- <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4"
                name="confirm_password" placeholder="Confirm Password" /> -->
                
                {% comment %} <input type="hidden" name="next_url" value="{{ request.GET.next }}"/> {% endcomment %}
                <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="competitionName" placeholder="Competition Name" />
                
                <input type="email" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="email" placeholder="Email ID" />

                <button type="submit"
                    class="w-full text-center py-3 rounded bg-[#5e609f] text-white text-xl font-bold hover:bg-black focus:outline-none my-1">
                    Submit</button>

            </div>
        </form>      
        
    </div>
  
</div>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


{% endblock content %}


<form method="POST">
    {% csrf_token %}
    <input type="text" name="address" placeholder="Address">
    <br>
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="competitionName" placeholder="Competition Name">
    <br>
    <input type="email" name="email" placeholder="Email">
    <br>
    <input type="submit">
</form>