{% extends 'base.html' %}
{% load static %}

{% block title %}Issued Certificates{% endblock title %}

{% block content %}

<div class="bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
  <br>
<br>
<br>
<br>
<br>
<div class="flex justify-evenly">
<div class="bg-white px-6 py-8 rounded-3xl shadow-md text-black w-1/3 border-2 border-[#5e609f]">
  <div class="flex justify-center flex-row pb-5">
      <a href="{% url 'issued_certificates' %}" class="inline text-center font-bold text-3xl">
{% comment %} <img src="{% static 'images/logo.png' %}" class="inline" height="40px" width="40px">  {% endcomment %}
        View Issued Certificates
  </a>
  </div>
  {% comment %} <h1 class="mt-6 mb-3 text-3xl font-bold text-center font-nunito">Choose your role</h1> {% endcomment %}
 
    <div>  
        <form method="POST">
            {% csrf_token %}
            <div>
                <!-- <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="fullname"
                placeholder="Full Name" /> -->

                <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="address"
                    placeholder=" Address " />

                <button type="submit"
                    class="w-full text-center py-3 rounded bg-[#5e609f] text-white text-xl font-bold hover:bg-black focus:outline-none my-1">
                    Submit</button>

            </div>
        </form>      
        
    </div>
  
</div>


</div>
<br>
<br>
{% if certificates %}
  <div class="flex justify-evenly">
  <span class="text-center font-bold text-3xl">Wallet Address: {{ address }}</span><br>
  </div>
{% endif %}
<div>   
    
    <div class="overflow-hidden flex flex-col justify-center">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 block sm:px-6 lg:px-8">
            <div class="overflow-hidden flex justify-center">
            {% if certificates %}  
              <table class="table-auto border">
                <thead class="bg-white border-b">
                  <tr>                 
                    <th scope="col" class="text-md font-bold text-gray-900 px-6 py-4 text-left">
                      Credential ID
                    </th>
                    <th scope="col" class="text-md font-bold text-gray-900 px-6 py-4 text-left">
                      Issued to
                    </th>
                    <th scope="col" class="text-md font-bold text-gray-900 px-6 py-4 text-left">
                      Competition Name
                    </th>
                    <th scope="col" class="text-md font-bold text-gray-900 px-6 py-4 text-left">
                      Issued on
                    </th>
                  </tr>
                </thead>
                
                {% for certificate in certificates %}
                <tbody>
                  <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">                  
                    <td class="px-6 py-4 text-sm font-medium text-gray-900 cursor-pointer">
                      {{ certificate.0 }}
                    </td>
                    <td class="text-sm text-gray-900 font-normal px-6 py-4">
                      {{ certificate.1 }}
                    </td>
                    <td class="text-sm text-gray-900 font-normal px-6 py-4">
                      {{ certificate.2 }}
                    </td>
                    <td class="text-sm text-gray-900 font-normal px-6 py-4">
                      {{ certificate.3 }}
                    </td>            
                  </tr>                
                  
                </tbody>
                {% endfor %}

              </table>
              {% endif %}
            </div>
        </div>
    </div>
</div>
    {% comment %} {% if certificates %}
    <h3>Following are certificates issued to you</h3>
    {% for certificate in certificates %}
        <p>{{ certificate }}</p>
    {% endfor %}
    {% endif %} {% endcomment %}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


{% endblock content %}


{% comment %} <form method="POST">
    {% csrf_token %}
    <input type="text" name="address" placeholder="Address">
    <br>
    <input type="submit">
</form>
{% if certificates %}
<h3>Issued certificates</h3>
{% for certificate in certificates %}
    <p>{{ certificate }}</p>
{% endfor %}
{% endif %} {% endcomment %}



