<h4>Blockchain Certification</h4>
{% if user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
{% endif %}

<br>
<br>
<br>
<br>
<br>
{% if messages %}
  {% for message in messages %}
       {{ message }}<br>
  {% endfor %}
{% endif %}



Admin
<br>
<a href="{% url 'issue_certificate' %}">Issue Certificate</a>
<br>
<a href="{% url 'view_all' %}">View all Certificates</a>
<br>
<br>
User
<br>
<a href="{% url 'view' %}">View Certificate</a>
<br>
<a href="{% url 'issued_certificates' %}">Issued Certificates</a>
<br>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="address" placeholder="Address">
    <br>
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="competitionName" placeholder="Competition Name">
    <br>
    <input type="email" name="email" placeholder="Email">
    <br>
    <input type="submit">
</form>