{% extends 'base.html' %}
{% load static %}

{% block title %}All Certificates{% endblock title %}

{% block content %}

<div class="overflow-hidden bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
  <br>
<br>
<br>
<br>
<br>
<div>   
    
    <div class="flex flex-col justify-center">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 block sm:px-6 lg:px-8">
            <div class="overflow-hidden flex justify-center">
            {% if certificates %}         
              <table class="table-auto border">
                <thead class="bg-white border-b">
                  <tr>                 
                    <th scope="col" class="text-md font-bold text-gray-900 px-6 py-4 text-left">
                      Wallet ID
                    </th>
                    <th scope="col" class="text-md font-bold text-gray-900 px-6 py-4 text-left">
                      Issued to
                    </th>
                    <th scope="col" class="text-md font-bold text-gray-900 px-6 py-4 text-left">
                      Competition Name
                    </th>
                    <th scope="col" class="text-md font-bold text-gray-900 px-6 py-4 text-left">
                      Issued on
                    </th>
                    <th scope="col" class="text-md font-bold  text-gray-900 px-6 py-4 text-left">
                      Email
                    </th>
                  </tr>
                </thead>
                
                {% for certificate in certificates %}
                <tbody>
                  <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">                  
                    <td class="px-6 py-4 text-sm font-medium text-gray-900 cursor-pointer">
                      {{ certificate.0 }}
                    </td>
                    <td class="text-sm text-gray-900 font-normal px-6 py-4">
                      {{ certificate.1 }}
                    </td>
                    <td class="text-sm text-gray-900 font-normal px-6 py-4">
                      {{ certificate.2 }}
                    </td>
                    <td class="text-sm text-gray-900 font-normal px-6 py-4">
                      {{ certificate.3 }}
                    </td>
                    <td class="text-sm text-gray-900 font-normal px-6 py-4">
                      {{ certificate.4 }}
                    </td>                   
                  </tr>                
                  
                </tbody>
                {% endfor %}
              </table>
              {% endif %}
            </div>
        </div>
    </div>
</div>   
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


{% endblock content %}


{% comment %} 
{% if certificates %}
<h3>Issued certificates</h3>
{% for certificate in certificates %}
    <p>{{ certificate }}</p>
{% endfor %}
{% endif %} {% endcomment %}



